// paleta para una temporada
$colorPaletaUno: (
    color_principal: #0d6efd,
    color_header:#0d6efd,
    color_footer: grey,
    color_textoFooter:white,
    color_bg-dark: black,
    color_tx-dark: white,
    color_bg-light: beige,
    color_tx-light: black,
    color_bg-galeria: #b6eff9
);

$colorPaletaDos: (
    color_principal: #060607,
    color_header:    #1f232a,
    color_footer: #686781,
    color_textoFooter:#9590b3,
    color_bg-dark: #1f232a,
    color_tx-dark: #9590b3,
    color_bg-light: #9590b3,
    color_tx-light: #1f232a,
    color_bg-galeria: #b6eff9

);

$color_sombra: lightslategrey;
