// variable que determina que paleta se va a utilizar 
$valorPaleta : uno;

// variables donde se van a ir cargando los colores de la paleta seleccionada 
$Lcolor_principal: white;
$Lcolor_header: white;
$Lcolor_footer: white;
$Lcolor_textoFooter: white;
$Lcolor_bg-dark: white;
$Lcolor_tx-dark: white;
$Lcolor_bg-light: white;
$Lcolor_tx-light: white;
$Lcolor_bg-galeria: white;