// creo un mixin para pasar cierto prametros de estilos que se me repiten en clases 
@mixin estilo ($padding, $fontSize, $line_height){
    padding: $padding;
    font-size: $fontSize;
    line-height: $line_height;
}