@import "colores";
@import "variables";
@import "mixins";


/* Reset CSS  */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


//  se asignan los colores a las variable de acuerdo a la paleta que se elija 
@if $valorPaleta ==uno {

    $Lcolor_principal: map-get($colorPaletaUno, color_principal);
    $Lcolor_header: map-get($colorPaletaUno , color_header);
    $Lcolor_footer: map-get($colorPaletaUno , color_footer);
    $Lcolor_textoFooter: map-get($colorPaletaUno , color_textoFooter);
    $Lcolor_bg-dark: map-get($colorPaletaUno , color_bg-dark);
    $Lcolor_tx-dark: map-get($colorPaletaUno , color_tx-dark);
    $Lcolor_bg-light: map-get($colorPaletaUno , color_bg-light);
    $Lcolor_tx-light: map-get($colorPaletaUno , color_tx-light);
    $Lcolor_bg-galeria: map-get($colorPaletaUno, color_bg-galeria);


}

@else if $valorPaleta ==dos {
    $Lcolor_principal: map-get($colorPaletaDos , color_principal);
    $Lcolor_header: map-get($colorPaletaDos , color_header);
    $Lcolor_footer: map-get($colorPaletaDos , color_footer);
    $Lcolor_textoFooter: map-get($colorPaletaDos , color_textoFooter);
    $Lcolor_bg-dark: map-get($colorPaletaDos , color_bg-dark);
    $Lcolor_tx-dark: map-get($colorPaletaDos , color_tx-dark);
    $Lcolor_bg-light: map-get($colorPaletaDos , color_bg-light);
    $Lcolor_tx-light: map-get($colorPaletaDos , color_tx-light);
    $Lcolor_bg-galeria: map-get($colorPaletaDos, color_bg-galeria);
}

/* se modifica el tiempo de la animacion de la imagen del menu  */
.animate__animated.animate__zoomInUp {
    animation-duration: 1.5s;
}

.item_barra {
    padding: 2px;
    transition: all .3s;
}

/* es una pseudoclase.. */
.item_barra:hover {
    transform: scaleY(1.4);
    color: $Lcolor_principal;
}

// las clses nav e img dentro del header  son hijos 
header {
    background-color: $Lcolor_header;
    padding: 1em;

    nav {
        background-color: $Lcolor_header;
    }

    img {
        width: 4em;
    }
}



/* portada  */
.portada {
    position: relative;
    height: 80vh;
    color: white;
	text-shadow: 5px 5px 10px black;
}

.portada::before{
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: url("../img/portada.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    filter: brightness(0.6) blur(2px);
}

// utilizo el mixin en estas clases 

.section_texto p {
    @include estilo(1em, 1.5em, 2em);
    font-style: italic;
    text-align: center;
}

.section__ul {
    @include estilo(4em, 150%, 2em);
    font-weight: bolder;
}

.img_clientes {
    padding: 1em;
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    box-shadow: 10px 10px 15px $color_sombra;
}

.cli_uno {
    grid-row-start: 1;
    grid-row-end: 3;
}

.cli_dos {
    grid-column-start: 2;
    grid-column-end: 4;
}

/* se modifican tiempos de animacion de galeria  */
.imgdos.animate__animated.animate__backInLeft {
    animation-delay: 0.2s;
}

.imgtres.animate__animated.animate__backInRight {
    animation-delay: 0.3s;
}

.imgcuatro.animate__animated.animate__backInRight {
    animation-delay: 0.5s;
}

// clase que se usa para el extender.. 
.alineaciones {
    margin: 1em 2em 1em 2em;
    box-shadow: 10px 10px 15px $color_sombra;
}

/* section  */
.section_galeria {
    @extend.alineaciones;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.galeria_grid {
    @extend.alineaciones;
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2em;
}

.img_g {
    max-width: 100%;
    border-radius: 4px;
}

footer {
    background-color: $Lcolor_footer;
    color: $Lcolor_textoFooter;

    nav {
        a {
            color: $Lcolor_textoFooter;
            text-decoration: none;
        }

    }
}

.dark {
    @include colorl-DyL($Lcolor_principal, $Lcolor_tx-dark);
}

.light {
    @include colorl-DyL($Lcolor_bg-light, $Lcolor_tx-light);
}

.darkGaleria {
    @include colorl-DyL($Lcolor_footer, $Lcolor_tx-dark);
}
